body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: linear-gradient(
    45deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #fbc2eb,
    #a6c1ee
  );
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
}
footer {
  text-align: center;
  padding: 0 20px;
}

footer a {
  color: #10b076;
}
.form-details {
  display: flex;
  align-content: space-around;
}

#form-details-container {
  display: flex;
  align-items: center;
  border: 3px solid #caf9e8;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}

#chat-input {
  flex-grow: 1;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
}
#chat-input::placeholder {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #1b331c;
}
#container {
  margin: 120px auto;
  max-width: 600px;
}

#submit {
  background-color: #1b331c;
  color: white;
  border: none;
  padding: 8px 13px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

#generated-story {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  width: 96%;
  border-right: 2px solid rgb(249, 147, 164);
  border-left: 2px solid rgb(249, 147, 164);
  font-weight: 100;
  font-size: 14px;
}

.hidden {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  font-size: 4px;
}
